<{config_load file="public.conf" section="public"}>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
    <style type="text/css">
        body{
            font-size:12px;
        }
        .border{
            border-top-style:solid;
            border-bottom-style:solid;
            border-left-style:solid;
            border-right-style:solid;
            border-color:#ff9900;"
        }
    </style>
</head>
<body>
<table width="600" border="0">
    <tbody>
    <tr>
        <td colspan="3"><h2>公司入款流程解說</h2>
            <hr>
        </td>
    </tr>
    <tr>
        <td colspan="3"><span style="background-color:#ff9900; color:#ffffff;">如何使用公司入款方式存款?</span>
            <hr style="color:#ff9900; HEIGHT:100;">
            公司入款是利用銀行轉帳的方式存款。會員必須將款項從自己的銀行帳戶中轉到娛樂城所指定的銀行帳號中。 </td>
    </tr>
    <tr>
        <td colspan="3"><span style="background-color:#ff9900; color:#ffffff;">操作流程</span>
            <hr style="color:#ff9900; HEIGHT:100;">
        </td>
    </tr>
    <tr>
        <td colspan="3" align="center"><div class="border"> <b>1.進入公司入款平臺頁面</b><br>
            <ul>
                <li>在娛樂城首頁上方點擊線上存款</li>
                <li style="padding-right:92px">點擊公司入款</li>
            </ul>
        </div></td>
    </tr>
    <tr>
        <td colspan="3" align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td colspan="3"><div class="border">
            <center>
                <b>2.選擇銀行<br>
                </b>
            </center>
            <br>
            <span>請點選您所要使用的銀行，建議選擇與您相同家的銀行，同銀行間轉帳可以立即到帳，若是跨行轉帳則有可能較晚到帳。</span><br>
            <br>
        </div></td>
    </tr>
    <tr>
        <td colspan="3" align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td colspan="3"><div class="border">
            <center>
                <b>3.查看銀行帳號/完成轉帳<br>
                </b>
            </center>
            <ul>
                <li>本頁將顯示您可以存入的銀行帳號，帳號不定期更換，請務必每次查看!</li>
                <li>核對您所填寫的存款資料並記下帳號，再將款項轉帳到指定的銀行帳號中。</li>
                <li>可自行選擇利用網路銀行，ATM櫃員機，或到銀行轉帳匯款等方法轉帳。</li>
            </ul>
        </div></td>
    </tr>
    <tr>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td><div class="border" style="height:98px;"> <b>● 網路銀行<br>
        </b> 登入自己的網路銀行頁面，在銀行網頁上轉帳到指定的銀行帳號中。 </div></td>
        <td width="200"><div class="border" style="height:98px;"> <b>● ATM自動櫃員機<br>
        </b> 到實體自動櫃員機以銀行卡或現金方式存入。沒有開啟網銀功能與存現金的會員可使用。 </div></td>
        <td width="200"><div class="border" style="height:98px;"> <b>● 銀行櫃臺轉帳<br>
        </b> 到銀行櫃臺完成轉帳手續。 </div></td>
    </tr>
    <tr>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td colspan="3"><div class="border">
            <center>
                <b>4.核對提交資料/提交申請</b>
            </center>
            <ul>
                <li>填寫匯款的金額與資料(金額必須與實際存款金額完全壹樣，並建議存款有尾數的金額，方便系統辨別，縮短加款速度。)</li>
                <li>點擊提交申請。</li>
            </ul>
        </div></td>
    </tr>
    <tr>
        <td colspan="3" align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td colspan="3"><div class="border">
            <center>
                <b>5.等候系統加款<br>
                </b>
            </center>
            <br>
            系統在收到款項後會進行比對，如果存款金額，時間相符和，則會將款項加到您的遊戲帳號中。處理時間通常為5-30分鐘。(跨行轉帳時間可能會超過30分)<br>
            <br>
        </div></td>
    </tr>
    <tr>
        <td colspan="3" align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td colspan="3" align="center"><div class="border"> 30分鐘內是否到帳? </div></td>
    </tr>
    <tr>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
        <td></td>
        <td align="center"><img src="<{#mem_images#}>/arrow.png"> </td>
    </tr>
    <tr>
        <td align="center"><div class="border" style="height:110px"> <br>
            存款成功! </div></td>
        <td></td>
        <td><div class="border" style="height:110px">
            <center>
                <b>請聯系線上客服人員</b>
            </center>
            客服人員會與您核對您的存款資料，必要時需要您提供截圖資料等相關證明。 </div></td>
    </tr>
    </tbody>
</table>
</body>
</html>