<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>充值接口-提交信息處理</title>
</head>
<body >
<form id="form1" name="form1" method="post" action="<{$data['form_url']}>">
	  <input type="hidden" id="message" name="message" value="<{$data['message']}>" size="50">
	  <input type="hidden" id="signature" name="signature" value="<{$data['signature']}>" size="50">
</form>
 <script language="javascript">
       setTimeout(function(){
          document.getElementById("form1").submit();
      },2000)
    </script>
</body>
</html>