<{config_load file="public.conf" section="public"}>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>線上入款</title>
	<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
	<link type="text/css" href="<{#mem_css#}>/standard.css" rel="stylesheet">
	<link rel="stylesheet" href="<{#mem_css#}>/template.css" type="text/css">
	<link rel="stylesheet" href="<{#mem_css#}>/bank.css" type="text/css">
	<script type="text/javascript" src="<{#mem_js#}>/jquery-1.8.3.min.js"></script>
	<style type="text/css">
		.btn_001{
			cursor: pointer;
			margin: 0 1px 0 0;
			width: 85px;
			height: 26px;
			border: none;
			padding-top: 2px;
			color: #FFF;
			font-weight: bold;
			background: #3D3D3D url(<{#mem_images#}>/order_btn.gif) no-repeat 0 -80px;
		}
	</style>
</head>
<body id="bank_body">
<div id="bank_header">
	<div id="bank_logo"></div>
</div>
<div id="bank_content">
	<div id="pay_title">填寫付款人資料</div>
	<div id="pay_info">
		<form id="myFORM" name="myFORM" action="<{$site_url}>/index.php/member/pay/Index/confirm_order" method="post">
			<input type="hidden" name="order_num" value="<{$order_num}>">
			<input type="hidden" name="act" value="<{$act}>">
			<ul>
				<li class="pay_info">
					<div class="lable">會員帳號：</div>
					<div class="input"><{$info.username}></div>
				</li>
				<li class="pay_info">
					<div class="lable"><span class="star">*</span>存款金額：</div>
					<div class="input"><input name="s_amount" id="s_amount" onkeyup="clearNoNum(this);" type="text" size="25"></div>
				</li>
				<{if $bank_info}>
				<li class="pay_info">
					<div class="lable">
						<span class="star">*</span>支付銀行：
					</div>
					<div id="bank_list" class="input">
						<table>
							<tbody>
							<tr>

								<{foreach key=cid item=con from=$bank_info }>
								<td style="height: 32px">
									<input style="float: left;" type="radio" name="bank" value="<{$con.values}>">
									<label style="font-size:12px;white-space: normal; width:95px" for="<{$con.values}>"><{$con.bank_name}></label>
								</td>
								<{if $cid%4==3}></tr><tr><{/if}>

								<{/foreach}>
							</tr>
							</tbody>
						</table>
					</div>
				</li>
				<{/if}>
				<li class="pay_info">
					<div class="lable">&nbsp;</div>
					<div class="input">
						<input type="submit" id="Submit" class="btn_001" value="確認">&nbsp;&nbsp;&nbsp;
						<input type="reset" class="btn_001" value="重設">
					</div>
				</li>
			</ul>
		</form>
	</div>
	<br>
	<br>
	<div id="note">
		<h1>備註：</h1>
		<ol>
			<li>標記有&nbsp;<span class="star">*</span>&nbsp;者為必填項目。</li>
			<li>單筆最低存款金額 <{$payset.ol_catm_min}> 元以上。</li>
			<li>單筆最高存款金額 <{$payset.ol_catm_max}> 元以下。</li>
		</ol>
	</div>
	<br>
</div>
<div id="bank_footer" align="center">
	<p>Copyright © <{$copy_right['copy_right']}> Reserved</p>
</div>
</body>
</html>

<script type="text/javascript">
	var AbandonSp = '';
	$('#myFORM').submit(function(){
		var amount = $('#s_amount').val();
		if(amount == ''){
			alert('請填寫您要支付的金額!');
			$('#s_amount').focus();
			return false;
		}
		if (amount<<{$payset.ol_catm_min}>) {
			alert('單筆最低存款金額 <{$payset.ol_catm_min}> 元以上。');
			$('#s_amount').focus();
			return false;
		} else if (amount><{$payset.ol_catm_max}>) {
			alert('單筆最高存款金額 <{$payset.ol_catm_max}> 元以下。');
			$('#s_amount').focus();
			return false;
		}

		$('#s_amount').val(amount);
		<{if $bank_info}>
			if (!$('#bank_list input[type=radio]:checked').val()) {
			alert('請選擇支付銀行');
			return false;
		}
			<{/if}>
				if (confirm("是否確定寫入?")) {
				$('#Submit').attr('disabled',true);
				return true;
			}
				return false;
				});
	//數字驗證 過濾非法字符
	function clearNoNum(obj){
		//先把非數字的都替換掉，除了數字和.
		obj.value = obj.value.replace(/[^\d.]/g,"");
		//必須保證第壹個為數字而不是.
		obj.value = obj.value.replace(/^\./g,"");
		//保證只有出現壹個.而沒有多個.
		obj.value = obj.value.replace(/\.{2,}/g,".");
		//保證.只出現壹次，而不能出現兩次以上
		obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
		if(obj.value != ''){
			var re=/^\d+\.{0,1}\d{0,2}$/;
			if(!re.test(obj.value))
			{
				obj.value = obj.value.substring(0,obj.value.length-1);
				return false;
			}
		}
	}
</script>