<{$header}>
<{config_load file="public.conf" section="public"}>

<!-- 页面主体 开始-->
<!-- 频道banner开始 -->
<div id="banner" class="banner h262">

</div>
<style type="text/css">
    #banner {
        background: url(<{#images#}>/banner61.png) no-repeat center top;
    }

    .hd_body {
        border: #ccc solid 0px;
    }
</style>

<div class="infos mt260">
    <span>最新公告：</span>
    <div class="txtScroll-top">
        <div class="bd">
            <{$notice_html}>
        </div>
    </div>
</div>


<section class="section71">
    <div class="content" style="width: 960px;">
        <style type="text/css">
            #banner {
                background: url(<{#images#}>/banner61.png) no-repeat center top;
            }

        </style>
        <!--<section class="section61">-->
            <!--<div class="content" style="width:960px;">-->
                <{$promotion_html}>

            <!--</div>-->
        <!--</section>-->
    </div>
</section>


<div style="clear:both;"></div>

<{$bottom}>

































